<!-- Mobile Menu -->

<div class="mobile-menu js-menu-container">
  <div class="menu-header container">
    <!-- Navigation Menu -->
    <div class="mobile-menu-container">
      <nav class="mobile-nav">
        <a class="mobile-header-logo logo link" href="./index.html">
          <svg class="header-logo-icon" width="48" height="48">
            <use href="./images/icons.svg#icon-logo"></use>
          </svg>
        </a>
        <ul class="mobile-menu-list list">
          <li class="mobile-menu-item">
            <a
              class="mobile-menu-link link"
              href="./index.html"
              data-header-home
              >home</a
            >
          </li>
          <li class="mobile-menu-item">
            <a
              class="mobile-menu-link link"
              href="./catalogue.html"
              data-header-catalogue
              >catalog</a
            >
          </li>
          <li class="mobile-menu-item">
            <a
              class="mobile-menu-link link"
              href="./library.html"
              data-header-library
              >my library</a
            >
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
