<div class="container">
  <ul class="movie-cards-list" data-movie-cards-list>
    <!-- <li class="cards-item">
      <img
        src="./images/image-not-found.jpg"
        alt="films-poster"
        class="movie-card-poster"
      />
      <div class="cards-content">
        <div class="cards-text-content">
          <h3 class="cards-title">QUANTUMANIA</h3>
          <p class="cards-text">Drama, Action | 2023</p>
        </div>
        <div class="rating-stars-wrapper">
          <div class="rating-container">
            <div class="rating-active" style="width: 100%">
              <p class="visually-hidden">Movie's rating: 10.0</p>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li class="cards-item">
      <img
        src="./images/image-not-found.jpg"
        alt="films-poster"
        class="movie-card-poster"
      />
      <div class="cards-content">
        <div class="cards-text-content">
          <h3 class="cards-title">QUANTUMANIA</h3>
          <p class="cards-text">Drama, Action | 2023</p>
        </div>
        <div class="rating-stars-wrapper">
          <div class="rating-container">
            <div class="rating-active" style="width: 100%">
              <p class="visually-hidden">Movie's rating: 7.50</p>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li class="cards-item">
      <img
        src="./images/image-not-found.jpg"
        alt="films-poster"
        class="movie-card-poster"
      />
      <div class="cards-content">
        <div class="cards-text-content">
          <h3 class="cards-title">QUANTUMANIA</h3>
          <p class="cards-text">Drama, Action | 2023</p>
        </div>
        <div class="rating-stars-wrapper">
          <div class="rating-container">
            <div class="rating-active" style="width: 100%">
              <p class="visually-hidden">Movie's rating: 7.50</p>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li class="cards-item">
      <img
        src="./images/image-not-found.jpg"
        alt="films-poster"
        class="movie-card-poster"
      />
      <div class="cards-content">
        <div class="cards-text-content">
          <h3 class="cards-title">QUANTUMANIA</h3>
          <p class="cards-text">Drama, Action | 2023</p>
        </div>
        <div class="rating-stars-wrapper">
          <div class="rating-container">
            <div class="rating-active" style="width: 100%">
              <p class="visually-hidden">Movie's rating: 7.50</p>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li class="cards-item">
      <img
        src="./images/image-not-found.jpg"
        alt="films-poster"
        class="movie-card-poster"
      />
      <div class="cards-content">
        <div class="cards-text-content">
          <h3 class="cards-title">QUANTUMANIA</h3>
          <p class="cards-text">Drama, Action | 2023</p>
        </div>
        <div class="rating-stars-wrapper">
          <div class="rating-container">
            <div class="rating-active" style="width: 100%">
              <p class="visually-hidden">Movie's rating: 7.50</p>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li class="cards-item">
      <img
        src="./images/image-not-found.jpg"
        alt="films-poster"
        class="movie-card-poster"
      />
      <div class="cards-content">
        <div class="cards-text-content">
          <h3 class="cards-title">QUANTUMANIA</h3>
          <p class="cards-text">Drama, Action | 2023</p>
        </div>
        <div class="rating-stars-wrapper">
          <div class="rating-container">
            <div class="rating-active" style="width: 100%">
              <p class="visually-hidden">Movie's rating: 7.50</p>
            </div>
          </div>
        </div>
      </div>
    </li> -->
  </ul>
</div>
