/* Footer styles */

/*footerText+svg+spanText*/
footer {
    margin-left: auto;
    margin-right: auto;

}


.footer-text {
    margin-bottom: 8px;
}

.footer-container {
    color: rgba(183, 183, 183, 1);

    padding: 0 20px 0 20px;

    margin-bottom: 28px;

    font-family: --primary-font-family;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: center;
}

.footer-svg {
    margin-left: 10px;
    margin-right: 10px;
    vertical-align: middle;
}

.developers-info {
    cursor: pointer;
    text-decoration: underline;
}

/* трохи пізніше перенесу це у modal-team.css */

/*modalButton-modalWindow*/
.modal-close-btn {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 20px;
    right: 20px;
    background-color: rgba(17, 17, 17, 1);
    border: none;
    cursor: pointer;

   
 
}

.close-cross {
    
    position: absolute;
    top: 4.5px;
    left: 4.5px;
    width: 7px;
    height: 7px;
    stroke: rgba(248, 248, 248, 1);
}

.modal-close-btn:hover .close-cross {
    stroke: rgba(248, 119, 25, 1);
}

.modal {
    display: none;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);

}
    

.modal-footer-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(17, 17, 17, 1);
    padding: 20px;
    border-radius: 16px;
    width: 280px;
    height: 289px;
    box-shadow: 0 2px 4px rgba(255, 107, 8, 0.42);
}

.teamDevs-container {
    display: flex;
    flex-direction: column;
}

.devs-list {
    display: flex;
    flex-direction: column;
}

.teamDevs-header{
    text-align: center;
}

@media (min-width: 768px) {
    footer {
        text-align: center;
    }

    .footer-container {
        display: inline-block;
        padding:  0 32px;
        width: 768px;

        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0em;
    }

    .footer-text-svg {
        display: inline;
    }
    .footer-text {
        display: inline;
    }

    .modal-footer-content {
        width: 609px;
        height: 400px;
    }

    .modal-close-btn {
        width: 24px;
        height: 24px;
        top: 24px;
        right: 24px;
    }


    .close-cross {
        top: 6.75px;
        left: 6.75px;
        width: 10.5px;
        height: 10.5px;
    }
}

@media (min-width: 1280px) {
    .footer-container {
        
            width: 1280px;
        }

    .modal-footer-content {
        width: 700px;
        height: 400px;
    }

    .modal-close-btn {
        top: 28px;
        right: 28px;
    }
}