/* Footer styles */
/* .inline-svg  {
   
    background-color: blue;
    fill: #f87719;
}

.inline-svg .heart {
    stroke: #f87719; */
    /* Додайте інші стилі за потреби */
    /* width: 24px;
    height: 24px;
    position: absolute;
} */