/* Стилі дефолтного Main Hero */

.backdrop-hero-main-img-container:after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: transparent;
  background-image: linear-gradient(
    86.77deg,
    #111111 30.38%,
    rgba(17, 17, 17, 0) 65.61%
  );
}
.hero-main-info {
  max-width: 199px;
}
.hero-main-text {
  width: 166px;
  margin-bottom: 20px;
}
@media screen and (max-width: 767px) {
  .hero-main-text {
    max-height: 80px;
    overflow: hidden;
  }
}
.get-started-link {
  display: inline-block;
  font-weight: 500;
  font-size: 12px;
  font-style: normal;
  line-height: 1.17;
  color: #111111;
}
@media screen and (min-width: 768px) {
  .backdrop-hero-main-img-container:after {
    background-image: linear-gradient(
      82.55deg,
      #111111 39.6%,
      rgba(17, 17, 17, 0) 72.95%
    );
  }
  .hero-main-info {
    max-width: 360px;
  }
  .hero-main-text {
    width: 360px;
    margin-bottom: 32px;
  }
  .get-started-link {
    font-size: 14px;
    line-height: 1.43;
  }
}
@media screen and (min-width: 1280px) {
  .backdrop-hero-main-img-container:after {
    background-image: linear-gradient(
      83.16deg,
      #111111 36.85%,
      rgba(17, 17, 17, 0) 60.05%
    );
  }
  .hero-main-info {
    max-width: 500px;
  }
  .hero-main-text {
    width: 464px;
  }
  .get-started-link {
    font-size: 16px;
    line-height: 1.5;
  }
}
