/* Hero Common Styles */

.hero-section {
  position: relative;
}
.backdrop-hero-img-container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  max-width: 320px;
}
.backdrop-hero-img {
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
.hero-info {
  padding-top: 40px;
  position: absolute;
  top: 0;
}
.hero-title {
  font-size: 32px;
  line-height: 1.19;
  margin-bottom: 8px;
}
.hero-text {
  font-size: 14px;
  line-height: 1.14;
  color: #f8f8f8;
}
@media screen and (min-width: 768px) {
  .backdrop-hero-img-container {
    max-width: 768px;
  }
  .hero-info {
    padding-top: 62px;
    max-width: 357px;
  }
  .hero-title {
    font-size: 44px;
    line-height: 1.18;
    margin-bottom: 8px;
  }
}
@media screen and (min-width: 1280px) {
  .backdrop-hero-img-container {
    max-width: 1280px;
  }
  .hero-info {
    padding-top: 169px;
    max-width: 600px;
  }
  .hero-title {
    font-size: 64px;
    line-height: 1.17;
    margin-bottom: 16px;
  }
  .hero-text {
    font-size: 16px;
    line-height: 1.19;
  }
}
