/* Styles for modal window for movie details  */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(46, 47, 66, 0.4);
  width: 100vw;
  height: 100vh;
  opacity: 1;
  transition: opacity var(--transition-dur-and-func);
  z-index: 3;
}

.modal-details-wrapper {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--transition-dur-and-func);
  width: 280px;
  background-color: var(--dark-theme-background-color);
  box-shadow: 1px 1px 14px 4px rgba(255, 107, 8, 0.42);
  border-radius: 16px;
}

.light-theme .modal-details-wrapper {
  background-color: var(--light-theme-background-color);
}

.modal-details {
  padding: 52px 16px;
  border-radius: 16px;
}

.movie-details-items {
  font-size: 14px;
  line-height: 1.14;
}

.movie-details-img-wrap {
  width: 248px;
  height: 315px;
  margin-bottom: 22px;
}

.movie-details-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.modal-btn-close-details {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  cursor: pointer;
  top: 20px;
  right: 16px;
  padding: 0;
  width: 24px;
  height: 24px;
  border: none;
  background-color: transparent;
}
.modal-close-icon-details {
  width: 10.5px;
  height: 10.5px;
  /* transition: stroke var(--transition-dur-and-func); */
  stroke: var(--primary-text-color);
}
.light-theme .modal-close-icon-details {
  stroke: var(--secondary-black-color);
}
.modal-close-icon-details:hover {
  stroke: var(--primary-brand-color);
}

.movie-details-headline {
  color: #ffffff;
}

.movie-details-inner {
  display: flex;
  gap: 62px;
  margin-bottom: 20px;
}

.movie-details-item:not(:last-child),
.movie-details-content:not(:last-child) {
  margin-bottom: 12px;
}

.movie-details-list {
  color: #b7b7b7;
}

.movie-details-items {
  color: #ffffff;
}

.movie-details-content-inner-item {
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #111111;
}

.movie-details-content-inner {
  padding: 1px 8px;
  background: #ffffff;
  border-radius: 5px;
}

.movie-details-content-inner-slash {
  margin: 0 4px;
  color: #f8f8f8;
}

.movie-details-content-inner-wrap {
  padding: 1px 4px;
  background: #ffffff;
  border-radius: 5px;
}

.light-theme .movie-details-content-inner,
.light-theme .movie-details-content-inner-wrap {
  background: var(--secondary-text-color);
}

.light-theme .movie-details-content-inner-slash {
  color: var(--dark-theme-grey-color);
}

.movie-details-subtitle {
  text-transform: uppercase;
  color: #b7b7b7;
}

.movie-details-description {
  color: #f8f8f8;
}

.light-theme .movie-details-headline,
.light-theme .movie-details-item,
.light-theme .movie-details-content,
.light-theme .movie-details-subtitle {
  color: var(--dark-theme-background-color);
}

.light-theme .movie-details-description {
  color: var(--secondary-black-color);
}

.library-btn-modal {
  height: 40px;
  margin-top: auto;
  position: relative;
}

@media screen and (min-width: 320px) {
  .movie-details-headline {
    margin-bottom: 29px;
    font-size: 20px;
    line-height: 1.15;
  }

  .movie-details-list {
    font-size: 14px;
    line-height: 1.14;
  }

  .movie-details-content-inner-item {
    font-size: 12px;
    line-height: 1.17;
  }

  .movie-details-description {
    font-size: 12px;
    line-height: 1.67;
    margin-bottom: 16px;
    width: 100%;
    max-width: 248px;
    /* height: 180px; */
  }

  .movie-details-subtitle {
    font-size: 14px;
    line-height: 1.14;
    margin-bottom: 12px;
  }
}

@media screen and (max-width: 767px) {
  .modal-details-wrapper {
    max-height: 85%;
    overflow-y: auto;
  }
}

@media screen and (min-width: 768px) {
  .modal-details-wrapper {
    width: 704px;
    height: 488px;
  }

  .modal-details {
    padding: 44px;
    display: flex;
    flex-direction: row;
  }

  .modal-btn-close-details {
    top: 24px;
    right: 24px;
  }

  .movie-details-img-wrap {
    width: 294px;
    height: 400px;
    margin-right: 16px;
  }

  .movie-details-img {
    margin-bottom: 0;
  }

  .movie-details-wrapper {
    height: 400px;
    display: flex;
    flex-direction: column;
  }

  .movie-details-headline {
    font-size: 24px;
    line-height: 1.67;
    margin-bottom: 24px;
  }
  .movie-details-list {
    font-size: 14px;
    line-height: 1.14;
  }

  .movie-details-items {
    font-size: 14px;
    line-height: 1.14;
  }
  .movie-details-content-inner-item {
    font-size: 12px;
    line-height: 1.17;
  }
  .movie-details-subtitle {
    font-size: 14px;
    line-height: 1.14;
  }
  .movie-details-description {
    font-size: 12px;
    line-height: 1.7;
    width: 100%;
    max-width: 301px;
    overflow: auto;
  }
}

@media screen and (min-width: 1280px) {
  .modal-details-wrapper {
    width: 846px;
    height: 598px;
  }
  .modal-details {
    padding: 60px;
  }
  .modal-btn-close-details {
    top: 40px;
    right: 40px;
  }

  .movie-details-img-wrap {
    width: 375px;
    height: 478px;
    margin-right: 20px;
  }

  .movie-details-wrapper {
    height: 478px;
  }

  .movie-details-headline {
    font-size: 24px;
    line-height: 1.33;
    margin-bottom: 28px;
  }

  .movie-details-list {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
  }

  .movie-details-items {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
  }

  .movie-details-content-inner-item {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
  }

  .movie-details-content-inner-slash {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
  }

  .movie-details-subtitle {
    font-size: 16px;
    line-height: 1;
    margin-bottom: 16px;
  }

  .movie-details-description {
    font-size: 14px;
    line-height: 1.43;
    margin-bottom: 24px;
    width: 100%;
    max-width: 331px;
    /* max-height: 221px; */
  }
}
