.upcoming-section {
  font-weight: 500;
  padding-top: 32px;
  padding-bottom: 40px;
}

.upcoming-movie-img {
  margin-right: 16px;
}

.upcoming-list:not(:last-child) {
  margin-bottom: 12px;
}

.upcoming-inner-wrap {
  margin-bottom: 20px;
}

.upcoming-title {
  font-weight: 500;
  line-height: 1.18;
  text-transform: uppercase;
  margin-bottom: 24px;
}

.upcoming-list {
  display: flex;
}

.upcoming-item-data-num {
  margin-left: 58px;
}

.upcoming-item-vote-num {
  margin-left: 67px;
}

.upcoming-item-pop-num {
  margin-left: 83px;
}

.upcoming-item-genre-num {
  margin-left: 108px;
}

.upcoming-headline {
  font-weight: 500;
  line-height: 1.19;
  margin-bottom: 28px;
  text-transform: uppercase;
}

.upcoming-subject {
  font-size: 16px;
  line-height: 1.19;
  color: var(--dark-theme-grey-color);
}

.upcoming-date {
  font-size: 16px;
  line-height: 1.19;
  color: var(--primary-brand-color);
}

.upcoming-vote {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--dark-theme-background-color);
}

.upcoming-famous {
  font-size: 16px;
  line-height: 1.19;
  text-transform: uppercase;
  color: var(--primary-text-color);
}

.upcoming-inner-box {
  padding: 1px 8px;
  background: var(--primary-text-color);
  border-radius: 5px;
}

.upcoming-inner-box-votes {
  padding: 1px 4px;
  background: var(--primary-text-color);
  border-radius: 5px;
}

.upcoming-inner-color {
  color: var(--primary-text-color);
  margin: 0 4px;
}
.upcoming-janres {
  font-size: 16px;
  line-height: 1.19;
  color: var(--primary-text-color);
}

.upcoming-caption {
  font-size: 16px;
  line-height: 1.19;
  text-transform: uppercase;
  color: var(--dark-theme-grey-color);
  margin-bottom: 16px;
}

.upcoming-description {
  overflow-y: auto;
}

.light-theme .upcoming-title,
.light-theme .upcoming-headline,
.light-theme .upcoming-subject,
.light-theme .upcoming-caption {
  color: var(--dark-theme-background-color);
}

.light-theme .upcoming-inner-box,
.light-theme .upcoming-inner-box-votes,
.light-theme .upcoming-title,
.light-theme .upcoming-famous,
.light-theme .upcoming-janres,
.light-theme .upcoming-description,
.light-theme .upcoming-inner-color {
  color: var(--secondary-black-color);
}

.light-theme .upcoming-inner-box,
.light-theme .upcoming-inner-box-votes {
  background: var(--secondary-text-color);
}

.library-btn-upcoming {
  height: 40px;
}

@media screen and (min-width: 320px) {
  /* .upcoming-section {
    margin-top: 32px;
    margin-bottom: 40px;
  } */

  .upcoming-title {
    font-size: 16px;
  }

  .upcoming-movie-img {
    max-width: 280px;
    max-height: 402px;
    margin-bottom: 24px;
  }

  .upcoming-headline {
    font-size: 20px;
  }

  .upcoming-description {
    font-size: 14px;
    line-height: 1.43;

    font-weight: 400;
    color: var(--secondary-text-color);
    margin-bottom: 20px;

    max-width: 280px;
    max-height: 220px;
  }
  .upcoming-wrapper-gap {
    margin-bottom: 12px;
    margin-right: 0;
  }
}

@media screen and (min-width: 768px) {
  .upcoming-section {
    padding-top: 44px;
    padding-bottom: 77px;
    /* margin-top: 44px;
    margin-bottom: 89px; */
  }

  .upcoming-title {
    font-size: 24px;
  }

  .upcoming-movie-img {
    max-width: 704px;
    max-height: 400px;
    margin-bottom: 32px;
  }
  .upcoming-flex {
    display: flex;
    flex-direction: column;
  }

  .upcoming-headline {
    font-size: 28px;
    margin-bottom: 24px;
  }
  .upcoming-janres {
    max-width: 120px;
  }
  .upcoming-description {
    max-width: 625px;
    max-height: 100px;
  }
  .upcoming-inner-wrap {
    display: flex;
  }

  .upcoming-wrapper-gap {
    margin-right: 118px;
  }
}

@media screen and (min-width: 1280px) {
  .upcoming-section {
    padding-top: 60px;
    padding-bottom: 100px;
  }
  .upcoming-title {
    font-size: 28px;
    margin-bottom: 28px;
  }
  .upcoming-movie-img {
    max-width: 805px;
    max-height: 458px;
    margin-bottom: 0;
  }

  .upcoming-flex {
    display: flex;
    flex-direction: row;
  }

  .upcoming-headline {
    font-size: 32px;
  }
  .upcoming-janres {
    max-width: 240px;
  }

  .upcoming-description {
    max-width: 390px;
    max-height: 160px;
  }
  .upcoming-wrapper {
    display: block;
  }
  .upcoming-wrapper-gap {
    margin-bottom: 12px;
    margin-right: 0;
  }
  .upcoming-inner-wrap {
    display: flex;
    flex-direction: column;
  }
}
