/* Styles for movie cards */
.movie-cards-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 16px;
}

.cards-item {
  position: relative;
  display: block;
  height: 406px;
  border-radius: 5px;
  overflow: hidden;
}

.cards-item-btn {
  padding: 0;
}

.movie-card-poster {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.cards-content {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: end;
  width: 100%;
  height: 100%;
  bottom: 0;
  padding: 12px;
  background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 63.48%,
    rgba(0, 0, 0, 0.9) 92.16%
  );
}

.cards-text-content {
  text-align: left;
}

.cards-title {
  font-family: var(--primary-font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.42;
  text-transform: uppercase;
  color: var(--primary-text-color);
}

.cards-text {
  font-family: var(--primary-font-family);
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  color: var(--dark-theme-grey-color);
}

.rating-stars-wrapper {
  padding-top: 19px;
}

@media screen and (max-width: 319px) {
  .cards-item {
    max-width: 280px;
  }
}

@media screen and (min-width: 320px) {
  .cards-item {
    width: 280px;
  }
}

@media screen and (min-width: 768px) {
  .movie-cards-list {
    column-gap: 16px;
    row-gap: 28px;
  }

  .cards-item {
    width: 224px;
    height: 325px;
  }

  .cards-title {
    line-height: 1.29;
  }

  .cards-text {
    line-height: 1.5;
  }

  .rating-stars-wrapper {
    padding-top: 16px;
  }
}

@media screen and (min-width: 1280px) {
  .movie-cards-list {
    row-gap: 32px;
  }

  .cards-item {
    width: 395px;
    height: 574px;
  }

  .cards-content {
    padding: 20px;
  }

  .cards-title {
    font-size: 20px;
    line-height: 1.17;
  }

  .cards-text {
    font-size: 20px;
    line-height: 1.17;
  }

  .rating-stars-wrapper {
    padding-top: 33px;
  }
}

/* ============================ Raiting ============================ */
.rating-container {
  position: relative;
  width: 86px;
  height: 14px;
  line-height: normal;
}

.hero-rating-stars-wrapper .rating-container {
  width: 96px;
  height: 16px;
}

.rating-container::before {
  width: 100%;
  background-image: url(../../images/star-empty.svg),
    url(../../images/star-empty.svg), url(../../images/star-empty.svg),
    url(../../images/star-empty.svg), url(../../images/star-empty.svg);
}

.rating-active {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.rating-active::before {
  width: 86px;
  height: 14px;
  background-image: url(../../images/star-filled.svg),
    url(../../images/star-filled.svg), url(../../images/star-filled.svg),
    url(../../images/star-filled.svg), url(../../images/star-filled.svg);
}

.hero-rating-stars-wrapper .rating-active::before {
  width: 96px;
  height: 16px;
}

.rating-container::before,
.rating-active::before {
  content: '★★★★★';
  color: transparent;
  display: block;
  background-position: 0 0, 25% 0, 50% 0, 75% 0, 100% 0;
  background-repeat: no-repeat;
  background-size: 13.12px 12.25px;
}

.hero-rating-stars-wrapper .rating-container::before,
.hero-rating-stars-wrapper .rating-active::before {
  background-size: 15px 14px;
}

@media screen and (min-width: 768px) {
  .rating-container {
    width: 66px;
    height: 10px;
  }

  .hero-rating-stars-wrapper .rating-container {
    width: 116px;
    height: 20px;
  }

  .rating-active::before {
    width: 66px;
    height: 10px;
  }

  .hero-rating-stars-wrapper .rating-active::before {
    width: 116px;
    height: 20px;
  }

  .rating-container::before,
  .rating-active::before {
    background-size: 9.37px 8.75px;
  }

  .hero-rating-stars-wrapper .rating-container::before,
  .hero-rating-stars-wrapper .rating-active::before {
    background-size: 18.75px 17.5px;
  }
}

@media screen and (min-width: 1280px) {
  .rating-container {
    width: 106px;
    height: 18px;
  }

  .hero-rating-stars-wrapper .rating-container {
    width: 136px;
    height: 24px;
  }

  .rating-active::before {
    width: 106px;
    height: 18px;
  }

  .hero-rating-stars-wrapper .rating-active::before {
    width: 136px;
    height: 24px;
  }

  .rating-container::before,
  .rating-active::before {
    background-size: 16.87px 15.75px;
  }

  .hero-rating-stars-wrapper .rating-container::before,
  .hero-rating-stars-wrapper .rating-active::before {
    background-size: 22.5px 21px;
  }
}
/* ============================ /Raiting ============================ */