<!-- Modal window with info about team members -->
<div class="backdrop is-hidden" data-modal-team-backdrop>
  <div id="modal-window-footer" class="modal" data-window-modal>
    <div class="modal-footer-content" id="modal-content" data-modal-content>
      <button class="modal-btn-close" data-modal-btn-close>
        <svg class="modal-close-icon" data-modal-cross>
          <use href="./images/icons.svg#icon-close"></use>
        </svg>
      </button>
      <div class="teamDevs-container">
        <h2 class="team-header">Team Developers</h2>
        <ul class="team-list list">
          <li class="team-item">
            <picture class="img">
              <source
                srcset="
                  /src/images/devsImages/ZhdanovDmytro.webp    1x,
                  /src/images/devsImages/ZhdanovDmytro-2x.webp 2x
                "
                type="image/webp"
              />
              <source
                srcset="
                  /src/images/devsImages/ZhdanovDmytro.jpg    1x,
                  /src/images/devsImages/ZhdanovDmytro-2x.jpg 2x
                "
                type="image/jpeg"
              />
              <img
                src="/src/images/devsImages/ZhdanovDmytro.jpg"
                alt="Team Lead, Developer"
                loading="lazy"
              />
            </picture>
            <div class="team-container">
              <h3 class="team-name">Zhdanov Dmytro</h3>
              <p class="team-text">Team Lead, Developer</p>
            </div>
          </li>
          <li class="team-item">
            <picture class="img">
              <source
                srcset="
                  /src/images/devsImages/MuzikaMihailo.webp    1x,
                  /src/images/devsImages/MuzikaMihailo-2x.webp 2x
                "
                type="image/webp"
              />
              <source
                srcset="
                  /src/images/devsImages/MuzikaMihailo.jpg    1x,
                  /src/images/devsImages/MuzikaMihailo-2x.jpg 2x
                "
                type="image/jpeg"
              />
              <img
                src="/src/images/devsImages/MuzikaMihailo.jpg"
                alt="Scrum Master, Developer"
                loading="lazy"
              />
            </picture>
            <div class="team-container">
              <h3 class="team-name">Muzika Mihailo</h3>
              <p class="team-text">Scrum Master, Developer</p>
            </div>
          </li>
          <li class="team-item">
            <picture class="img">
              <source
                srcset="
                  /src/images/devsImages/CherednichenkoDenis.webp    1x,
                  /src/images/devsImages/CherednichenkoDenis-2x.webp 2x
                "
                type="image/webp"
              />
              <source
                srcset="
                  /src/images/devsImages/CherednichenkoDenis.jpg    1x,
                  /src/images/devsImages/CherednichenkoDenis-2x.jpg 2x
                "
                type="image/jpeg"
              />
              <img
                src="/src/images/devsImages/CherednichenkoDenis.jpg"
                alt="Developer"
                loading="lazy"
              />
            </picture>
            <div class="team-container">
              <h3 class="team-name">Cherednichenko Denis</h3>
              <p class="team-text">Developer</p>
            </div>
          </li>
          <li class="team-item">
            <picture class="img">
              <source
                srcset="
                  /src/images/devsImages/DmitrievVitaliy.webp    1x,
                  /src/images/devsImages/DmitrievVitaliy-2x.webp 2x
                "
                type="image/webp"
              />
              <source
                srcset="
                  /src/images/devsImages/DmitrievVitaliy.jpg    1x,
                  /src/images/devsImages/DmitrievVitaliy-2x.jpg 2x
                "
                type="image/jpeg"
              />
              <img
                src="/src/images/devsImages/DmitrievVitaliy.jpg"
                alt="Developer"
                loading="lazy"
              />
            </picture>
            <div class="team-container">
              <h3 class="team-name">Dmitriev Vitaliy</h3>
              <p class="team-text">Developer</p>
            </div>
          </li>
          <li class="team-item">
            <picture class="img">
              <source
                srcset="
                  /src/images/devsImages/SlyusarOleksandr.webp    1x,
                  /src/images/devsImages/SlyusarOleksandr-2x.webp 2x
                "
                type="image/webp"
              />
              <source
                srcset="
                  /src/images/devsImages/SlyusarOleksandr.jpg    1x,
                  /src/images/devsImages/SlyusarOleksandr-2x.jpg 2x
                "
                type="image/jpeg"
              />
              <img
                src="/src/images/devsImages/SlyusarOleksandr.jpg"
                alt="Developer"
                loading="lazy"
              />
            </picture>
            <div class="team-container">
              <h3 class="team-name">Slyusar Oleksandr</h3>
              <p class="team-text">Developer</p>
            </div>
          </li>
          <li class="team-item">
            <picture class="img">
              <source
                srcset="
                  /src/images/devsImages/VolontyrPavlo.webp    1x,
                  /src/images/devsImages/VolontyrPavlo-2x.webp 2x
                "
                type="image/webp"
              />
              <source
                srcset="
                  /src/images/devsImages/VolontyrPavlo.jpg    1x,
                  /src/images/devsImages/VolontyrPavlo-2x.jpg 2x
                "
                type="image/jpeg"
              />
              <img
                src="/src/images/devsImages/VolontyrPavlo.jpg"
                alt="Developer"
                loading="lazy"
              />
            </picture>
            <div class="team-container">
              <h3 class="team-name">Volontyr Pavlo</h3>
              <p class="team-text">Developer</p>
            </div>
          </li>
          <li class="team-item">
            <picture class="img">
              <source
                srcset="
                  /src/images/devsImages/Deren'koTetiana.webp    1x,
                  /src/images/devsImages/Deren'koTetiana-2x.webp 2x
                "
                type="image/webp"
              />
              <source
                srcset="
                  /src/images/devsImages/Deren'koTetiana.jpg    1x,
                  /src/images/devsImages/Deren'koTetiana-2x.jpg 2x
                "
                type="image/jpeg"
              />
              <img
                src="/src/images/devsImages/Deren'koTetiana.jpg"
                alt="Developer"
                loading="lazy"
              />
            </picture>
            <div class="team-container">
              <h3 class="team-name">Deren'ko Tetiana</h3>
              <p class="team-text">Developer</p>
            </div>
          </li>
          <li class="team-item">
            <picture class="img">
              <source
                srcset="
                  /src/images/devsImages/GurikOstap.webp    1x,
                  /src/images/devsImages/GurikOstap-2x.webp 2x
                "
                type="image/webp"
              />
              <source
                srcset="
                  /src/images/devsImages/GurikOstap.jpg    1x,
                  /src/images/devsImages/GurikOstap-2x.jpg 2x
                "
                type="image/jpeg"
              />
              <img
                src="/src/images/devsImages/GurikOstap.jpg"
                alt="Developer"
                loading="lazy"
              />
            </picture>
            <div class="team-container">
              <h3 class="team-name">Gurik Ostap</h3>
              <p class="team-text">Developer</p>
            </div>
          </li>
          <li class="team-item">
            <picture class="img">
              <source
                srcset="
                  /src/images/devsImages/AlimpiievaKsenia.webp    1x,
                  /src/images/devsImages/AlimpiievaKsenia-2x.webp 2x
                "
                type="image/webp"
              />
              <source
                srcset="
                  /src/images/devsImages/AlimpiievaKsenia.jpg    1x,
                  /src/images/devsImages/AlimpiievaKsenia-2x.jpg 2x
                "
                type="image/jpeg"
              />
              <img
                src="/src/images/devsImages/AlimpiievaKsenia.jpg"
                alt="Developer"
                loading="lazy"
              />
            </picture>
            <div class="team-container">
              <h3 class="team-name">Alimpiieva Ksenia</h3>
              <p class="team-text">Developer</p>
            </div>
          </li>
          <li class="team-item">
            <picture class="img">
              <source
                srcset="
                  /src/images/devsImages/BorisenkoOleksandr.webp    1x,
                  /src/images/devsImages/BorisenkoOleksandr-2x.webp 2x
                "
                type="image/webp"
              />
              <source
                srcset="
                  /src/images/devsImages/BorisenkoOleksandr.jpg    1x,
                  /src/images/devsImages/BorisenkoOleksandr-2x.jpg 2x
                "
                type="image/jpeg"
              />
              <img
                src="/src/images/devsImages/BorisenkoOleksandr.jpg"
                alt="Developer"
                loading="lazy"
              />
            </picture>
            <div class="team-container">
              <h3 class="team-name">Borisenko Oleksandr</h3>
              <p class="team-text">Developer</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
