<!-- Modal window for movie details -->
<!-- <div class="backdrop" data-modal-details>
  <div class="modal-details">
    <button type="button" class="btn modal-close" data-modal-details-close>
      <svg class="icon-close" width="10.5" height="10.5">
        <use href="./images/icons.svg#icon-close"></use>
      </svg>
    </button>
    <img src="./images/image-not-found.jpg" alt="Image not found" />
    <h2>John Wick: Chapter 4</h2>
    <h3>Vote / Votes</h3>
    <p><span>7.3</span> / <span>1260</span></p>
    <h3>Popularity</h3>
    <p>100.2</p>
    <h3>Genre</h3>
    <p>Action Thriller Crime</p>
    <h3>About</h3>
    <p>
      John Wick (Keanu Reeves) takes on his most lethal adversaries yet in the
      upcoming fourth instalment of the series. With the price on his head ever
      increasing, John Wick uncovers a path to defeating The High Table. But
      before he can earn his freedom, Wick must face off against a new enemy
      with powerful alliances across the globe and forces that turn old friends
      into foes.
    </p>
    <button type="button" class="btn">Add to my library</button>
  </div>
</div> -->
