<!-- Modal window for movie details -->
<div id="myModal" class="modal">
  <div class="modal-content">
      <span class="close" onclick="closeModal()">&times;</span>
     <div class="modal-div">
          <img width="375" height="478" href="../imgs/IMG_0434.JPG"/>
          <div class="context-div">
              <h2>John Wick: Chapter 4</h2>
              <p>
                  <strong>Vote/Votes:</strong>&nbsp;&nbsp;&nbsp; 7.3 / 10<br>
                  <strong>Popularity:</strong>&nbsp;&nbsp;&nbsp;&nbsp; 100.2<br>
                  <strong>Genre:</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Action, Thriller, Crime<br>
              </p>
              <p>
                  <strong>About:</strong><br>
                  John Wick (Keanu Reeves) takes on his most lethal adversaries yet in the upcoming fourth instalment of the series. With the price on his head ever increasing, John Wick uncovers a path to defeating The High Table. But before he can earn his freedom, Wick must face off against a new enemy with powerful alliances across the globe and forces that turn old friends into foes.
              </p>
              <button width="140px"
              height="40px">Add to my library</button>
          </div>
     </div>
  </div>
</div>
