<!-- Modal window with info about team members -->
<div id="modal-window-footer" class="modal show" data-window-modal>
    <div class="modal-footer-content" id="modal-content" data-modal-content>
        <button class="modal-close-btn" data-modal-close>
            <svg class="close-cross" data-modal-cross>
                <use href="/src/images/icons.svg#icon-close">
                </use>
            </svg>
        </button>
        <div class="teamDevs-container"> 
            <h2 class="teamDevs-header">Team Developers</h2>
            <ul class="devs-list">
                <li class="item">Developer 1</li>
                <li class="item">Developer 2</li>
                <li class="item">Developer 3</li>
                <li class="item">Developer 4</li>
            </ul>
        </div>
    </div>
</div>