@media screen and (min-width: 320px) {
  .catalog {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .catalog-search-form {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 16px;
    width: 280px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .search-film-year {
    display: flex;
    width: 100%;
    gap: 12px;
    margin-bottom: 12px;
  }
  .catalog-input {
    padding: 11px 40px 11px 20px;
    border: 1px solid #ffffff;
    border-radius: 8px;
    font-weight: 500;
    font-size: 14px;
    color: var(--dark-theme-grey-color);
    background: transparent;
  }

  body.dark-theme option {
    background: var(--dark-theme-background-color);
  }

  body.light-theme option {
    background: var(--light-theme-background-color);
  }

  body.light-theme .catalog-input {
    color: var(--light-theme-grey-color);
    border: 1px solid var(--light-theme-grey-color);
  }

  .catalog-search-film {
    width: 173px;
  }
  .catalog-search-year {
    width: 95px;
  }

  .catalog-search-name {
    width: 224px;
  }
  .catalog-span {
    position: relative;
    color: var(--secondary-text-color);
  }
  .icon-close {
    stroke: #ffffff;
    cursor: pointer;
  }

  .btn-search-wrapper {
    display: block;
    width: 40px;
    height: 40px;
    /* position: static; */
    margin-left: 16px;
  }

  .btn-icon-catalog {
    position: absolute;
    text-align: center;
    top: 50%;
    right: 12px;
    border: none;
    background: transparent;
    transform: translateY(-50%);
    width: 18px;
    cursor: pointer;
  }

  body.light-theme .icon-close {
    stroke: #111111;
  }

  .icon-arrow {
    transform: rotate(-90deg);
    stroke: #ffffff;
  }

  body.light-theme .icon-arrow {
    stroke: #111111;
    fill: transparent;
  }
  .catalog-movies-list {
    margin-bottom: 20px;
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    gap: 16px;
  }

  .catalog-desc {
    font-weight: 400;
    margin-right: auto;
    margin-left: auto;
    margin-top: 32px;
    width: 280px;
    font-size: 20px;
    line-height: 1.4;
    text-align: center;
  }
  body.light-theme .catalog-desc {
    color: #111111;
  }

  /*- BTN- TUI-PAGINATION-*/
  .tui-pagination.btn-container {
    height: 24px;
    margin: 0;
  }
  .tui-pagination.btn-container > .btn-number {
    margin-right: 8px;
    width: 24px;
    height: 24px;
    background-color: transparent;
    padding: 7px 2px;
    border-radius: 50%;
    font-weight: 400;
    font-size: 10px;
    line-height: 1;
    color: var(--dark-theme-grey-color);
    border: 1px solid var(--dark-theme-grey-color);
  }

  .dark-theme .tui-pagination .tui-first-child.tui-is-selected,
  .light-theme .tui-pagination .tui-first-child.tui-is-selected {
    border-left: none;
}

  .btn-container > .btn-number.tui-first {
    display: none;
  }

  .btn-container > .btn-number.tui-last {
    display: none;
  }
  /* 
  body.dark-theme .tui-pagination.btn-container .btn-number.btn-current {
    color: #ffffff;
  }

  body.light-theme .tui-pagination.btn-container .btn-number.btn-current {
    color: #111111;
  } */

  .btn-container > .btn-number.tui-prev-is-ellip.tui-first-child {
    margin-right: 0;
    border: none;
  }
  .tui-pagination.btn-container
    > .btn-number.tui-prev-is-ellip.tui-first-child
    > .tui-ico-ellip {
    width: 8px;
    font-size: 10px;
    margin-top: 1px;
    background: none;
  }

  .btn-container > .btn-number.tui-next-is-ellip.tui-last-child {
    margin-right: 0;
    border: none;
  }

  .tui-pagination.btn-container
    > .btn-number.tui-next-is-ellip.tui-last-child
    > .tui-ico-ellip {
    margin-top: 7px;
    width: 8px;
    font-size: 10px;
    margin-top: 1px;
    background: none;
  }

  .btn-container > .btn-number.tui-prev {
    margin-right: 4px;
    border: none;
  }

  .btn-container > .btn-number.tui-next {
    margin-left: 4px;
    margin-right: 0;
    border: none;
  }

  .btn-container > .btn-number.btn-current {
    border: none;
    background-image: var(--primary-button-color);
    color: var(--primary-text-color);
  }

  body.dark-theme .btn-container > .btn-number.btn-current {
    color: var(--primary-text-color);
  }

  body.light-theme .btn-container > .btn-number.btn-current {
    color: #111111;
  }
}

@media screen and (min-width: 768px) {
  .catalog {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .catalog-search-form {
    width: 355px;
    margin-bottom: 36px;
  }
  .search-film-year {
    width: 295px;
    gap: 12px;
    margin-bottom: 0;
  }

  .catalog-search-film {
    width: 188px;
  }

  .catalog-search-name {
    width: 204px;
  }

  .btn-search-wrapper {
    width: 44px;
    height: 44px;
  }
  .catalog-movies-list {
    column-gap: 16px;
    row-gap: 28px;
    margin-bottom: 44px;
  }

  .catalog-desc {
    margin-top: 44px;
    width: 520px;

    font-size: 24px;
    line-height: 1.33;
  }
}
/*- BTN- TUI-PAGINATION-*/
/* .tui-pagination.btn-container {
  height: 40px;
}

.tui-pagination.btn-container > .btn-number {
  margin-right: 16px;
  width: 40px;
  height: 40px;
  padding: 13px 2px;
  font-size: 14px;
} */

/* .tui-pagination#tui-pagination-container
  > .tui-page-btn.tui-prev-is-ellip.tui-first-child
  > .tui-ico-ellip {
  width: 12px;
  font-size: 14px;
  margin-top: 1px;
} */

@media screen and (min-width: 1280px) {
  .catalog {
    padding-top: 80px;
    padding-bottom: 100px;
  }

  .catalog-search-form {
    width: 502px;
    margin-bottom: 48px;
  }

  .search-film-year {
    width: 430px;
    gap: 20px;
  }

  .catalog-search-film {
    width: 315px;
  }

  .catalog-search-name {
    width: 335px;
  }

  .btn-search-wrapper {
    width: 48px;
    height: 48px;
  }

  .catalog-movies-list {
    row-gap: 32px;
    margin-bottom: 60px;
  }

  .catalog-desc {
    margin-top: 72px;
    width: 700px;

    font-size: 32px;
    line-height: 1.12;
  }
}
