<!-- Header -->

<div class="container header-container" id="header">
  <!-- Site navigation -->
  <nav class="header-nav">
    <!-- Logo -->
    <a class="header-logo logo link" href="./index.html">
      <svg class="header-logo-icon" width="48" height="48">
        <use href="./images/icons.svg#icon-logo"></use>
      </svg>
      <span class="header-logo-name">Cinemania</span>
    </a>

    <!-- Navigation Menu -->
    <ul class="menu list">
      <li class="menu-item">
        <a class="menu-link link" href="./index.html" data-header-home>home</a>
      </li>
      <li class="menu-item">
        <a class="menu-link link" href="./catalogue.html" data-header-catalogue
          >catalog</a
        >
      </li>
      <li class="menu-item">
        <a class="menu-link link" href="./library.html" data-header-library
          >my library</a
        >
      </li>
    </ul>
  </nav>
  <!-- Mobile Menu Open Button -->
  <button class="btn btn-menu js-open-menu" type="button">MENU</button>

  <!-- Dark-Light -->
  <div class="toolbar">
    <!-- Розмітка переключателя теми -->
    <div class="theme-switch">
      <div class="theme-switch__control">
        <input
          class="theme-switch__toggle visually-hidden"
          type="checkbox"
          name="theme"
          id="theme-switch-toggle"
          aria-label="Dark-Light theme switcher"
        />
        <label
          aria-hidden="true"
          class="theme-switch__track"
          for="theme-switch-toggle"
        ></label>
        <div aria-hidden="true" class="theme-switch__marker">
          <svg class="theme-switch-icon-moon" width="14" height="14">
            <use href="./images/icons.svg#icon-moon"></use>
          </svg>
          <svg class="theme-switch-icon-sun" width="14" height="14">
            <use href="./images/icons.svg#icon-sun"></use>
          </svg>
          <svg class="theme-switch-icon" width="14" height="14">
            <use href="./images/icons.svg#icon-switch"></use>
          </svg>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="up-button js-up-button">
  <a class="up-button-link" href="#header">
    <svg class="up-button-icon" width="24" height="24">
      <use href="./images/icons.svg#icon-shevron"></use>
    </svg>
  </a>
</div>
