<!-- Hero Section Main -->
<section class="hero-main-section section js-hero-main-section">
  <div class="js-default-home-hero-section visually-hidden">
    <div class="backdrop-hero-main-img-container">
      <picture>
        <source
          srcset="
            ./images/hero-main-desc-1x-1280.webp 1x,
            ./images/hero-main-desc-2x-2560.webp 2x,
            ./images/hero-main-desc-3x-3840.webp 3x
          "
          media="(min-width: 1280px)"
          type="image/webp"
        />
        <source
          srcset="
            ./images/hero-main-desc-1x-1280.jpg 1x,
            ./images/hero-main-desc-2x-2560.jpg 2x,
            ./images/hero-main-desc-3x-3840.jpg 3x
          "
          media="(min-width: 1280px)"
          type="image/jpeg"
        />
        <source
          srcset="
            ./images/hero-main-tab-1x-768.webp  1x,
            ./images/hero-main-tab-2x-1536.webp 2x,
            ./images/hero-main-tab-3x-2304.webp 3x
          "
          media="(min-width: 768px)"
          type="image/webp"
        />
        <source
          srcset="
            ./images/hero-main-tab-1x-768.jpg  1x,
            ./images/hero-main-tab-2x-1536.jpg 2x,
            ./images/hero-main-tab-3x-2304.jpg 3x
          "
          media="(min-width: 768px)"
          type="image/jpeg"
        />
        <source
          srcset="
            ./images/hero-main-mob-1x-320.webp 1x,
            ./images/hero-main-mob-2x-640.webp 2x,
            ./images/hero-main-mob-3x-960.webp 3x
          "
          media="(max-width: 767px)"
          type="image/webp"
        />
        <source
          srcset="
            ./images/hero-main-mob-1x-320.jpg 1x,
            ./images/hero-main-mob-2x-640.jpg 2x,
            ./images/hero-main-mob-3x-960.jpg 3x
          "
          media="(max-width: 767px)"
          type="image/jpeg"
        />
        <img
          src="./images/hero-main-desc-1x-1280.jpg"
          alt="Home hero image"
          class="backdrop-hero-main-img"
        />
      </picture>
    </div>
    <div class="container hero-main-container">
      <div class="hero-main-info">
        <h2 class="title hero-main-title">Let’s Make Your Own Cinema</h2>
        <p class="hero-main-text film-overview">
          Is a guide to creating a personalized movie theater experience. You'll
          need a projector, screen, and speakers. Decorate your space, choose
          your films, and stock up on snacks for the full experience.
        </p>
        <div class="hero-main-links-container">
          <a href="./catalogue.html" class="get-started-link btn btn-filled"
            >Get Started</a
          >
        </div>
      </div>
    </div>
  </div>

  <!-- Card -->

  <!-- <div class="backdrop-hero-main-film-img-container">
    <img
      src="https://image.tmdb.org/t/p/original/qGQf2OHIkoh89K8XeKQzhxczf96.jpg
"
      alt="Master Gardener"
      class="backdrop-hero-main-film-img"
    />
  </div>
  <div class="container hero-main-film-container">
    <div class="hero-main-film-info">
      <h2 class="title hero-main-film-title">Master Gardener</h2>
      <div class="hero-main-film-rating">
        <progress max="10" value="6"></progress>
      </div>
      <p class="hero-main-film-overview">
        Narvel Roth is a meticulous horticulturist who is devoted to tending the
        grounds of a beautiful estate and pandering to his employer, the wealthy
        dowager Mrs. Haverhill. When she demands that he take on her wayward and
        troubled great niece, it unlocks dark secrets from a buried violent
        past.
      </p>
      <div class="hero-main-buttons-container">
        <button type="button" class="btn watch-trailer-btn btn-filled">
          Watch trailer
        </button>
        <button type="button" class="more-details-btn">More details</button>
      </div>
    </div>
  </div> -->
</section>
