<!-- Hero Section Main -->
<section class="hero-section section" data-hero-section>
  <!-- Hero Main Default -->
  <div class="is-hidden" data-default-hero-section>
    <div class="backdrop-hero-img-container backdrop-hero-main-img-container">
      <picture>
        <source
          srcset="
            ./images/hero-main-desc-1x-1280.webp 1280w,
            ./images/hero-main-desc-2x-2560.webp 2560w,
            ./images/hero-main-desc-3x-3840.webp 3840w,
            ./images/hero-main-tab-1x-768.webp    768w,
            ./images/hero-main-tab-2x-1536.webp  1536w,
            ./images/hero-main-tab-3x-2304.webp  2304w,
            ./images/hero-main-mob-1x-320.webp    320w,
            ./images/hero-main-mob-2x-640.webp    640w,
            ./images/hero-main-mob-3x-960.webp    960w
          "
          sizes="(min-width: 1280px) 1280px, (min-width: 768px) 768px, (min-width: 320px) 320px, 100vw"
          type="image/webp"
        />
        <source
          srcset="
            ./images/hero-main-desc-1x-1280.jpg 1280w,
            ./images/hero-main-desc-2x-2560.jpg 2560w,
            ./images/hero-main-desc-3x-3840.jpg 3840w,
            ./images/hero-main-tab-1x-768.jpg    768w,
            ./images/hero-main-tab-2x-1536.jpg  1536w,
            ./images/hero-main-tab-3x-2304.jpg  2304w,
            ./images/hero-main-mob-1x-320.jpg    320w,
            ./images/hero-main-mob-2x-640.jpg    640w,
            ./images/hero-main-mob-3x-960.jpg    960w
          "
          sizes="(min-width: 1280px) 1280px, (min-width: 768px) 768px, (min-width: 320px) 320px, 100vw"
          type="image/jpeg"
        />
        <img
          class="backdrop-hero-img"
          src="./images/hero-main-desc-1x-1280.jpg"
          alt="Home hero image"
        />
      </picture>
    </div>
    <div class="container hero-main-container">
      <h1 class="visually-hidden">Cinemania: Discover the world of movies</h1>
      <div class="hero-info hero-main-info">
        <h2 class="title hero-title hero-main-title">
          Let’s Make Your Own Cinema
        </h2>
        <p class="hero-text hero-main-text">
          Is a guide to creating a personalized movie theater experience. You'll
          need a projector, screen, and speakers.
          <br />Decorate your space, choose your films, and stock up on snacks
          for the full experience.
        </p>
        <div class="hero-main-links-container">
          <a href="./catalogue.html" class="get-started-link btn btn-filled"
            >Get Started</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
