<section class="catalog">
  <div class="container">
    <h2 class="visually-hidden">WEEKLY TRENDS</h2>

    <!-- search form-->
    <form class="catalog-search-form" data-catalogue-search-form>
      <span class="catalog-span" id="input-catalogue-search-by-name">
        <input
          type="text"
          name="searchQuery"
          autocomplete="off"
          placeholder="Search"
          class="catalog-search-name catalog-input"
        />
        <button
          type="button"
          class="btn-icon-catalog"
          id="btn-input-catalogue-search"
          hidden
        >
          <svg class="icon-close" width="9" height="9">
            <use href="./images/icons.svg#icon-close"></use>
          </svg>
        </button>
      </span>
      <span class="btn-search-wrapper">
        <button
          type="submit"
          class="btn btn-filled btn-search"
          data-btn-catalogue-search-form
        >
          <svg class="icon-search" width="18" height="18">
            <use href="./images/icons.svg#icon-search"></use>
          </svg>
        </button>
      </span>
    </form>

    <!-- catalog-->
    <ul
      class="catalog-movies-list"
      data-catalogue-movies
      data-header-catalogue
    ></ul>
    <div class="target-element"></div>
    <div id="tui-pagination-container" class="tui-pagination is-hidden"></div>
  </div>
</section>
