<!-- Library Page - Library list Section -->
<section class="library-section">
  <div class="container library-container">
    <!-- ============================Ganre=========================================== -->
    <div class="dropdown-container" data-library-filter-ganre></div>
    <!-- ============================END============================================= -->
    <div class="library-ops" data-library-oops-text></div>
    <ul class="movie-cards-list" data-library-list></ul>
    <!--<div class="btn-list-search">-->
    <!--<button type="button" class="btn btn-filled" data-load-more-btn>
            Search movie
          </button>-->
    <!--</div>-->
  </div>
</section>
