<li class="cards-item">
  <img src="#" alt="films-poster" width="394px" height="574px" />
  <div class="cards-content">
    <div class="cards-text-content">
      <h2 class="cards-title">QUANTUMANIA</h2>
      <p class="cards-text">Drama, Action | 2023</p>
    </div>
    <div class="div-rating-stars">
      <svg class="svg-rating-stars">
        <use href="./images/icons.svg#icon-star-full"></use>
      </svg>
      <svg class="svg-rating-stars">
        <use href="./images/icons.svg#icon-star-full"></use>
      </svg>
      <svg class="svg-rating-stars">
        <use href="./images/icons.svg#icon-star-full"></use>
      </svg>
      <svg class="svg-rating-stars">
        <use href="./images/icons.svg#icon-star-full"></use>
      </svg>
      <svg class="svg-rating-stars">
        <use href="./images/icons.svg#icon-star-full"></use>
      </svg>
    </div>
  </div>
</li>
