<!-- Weekly trends Section -->
<section class="weekly-trends-section">
  <div class="container">
    <div class="js-weekly-trends-cards">
      <div class="weekly-trends-nav">
        <h2 class="weekly-trends-head">Weekly Trends</h2>
        <a class="weekly-trends-link" href="../src/catalogue.html">See all</a>
      </div>
      <ul class="movie-cards-list" data-weekly-trends-list></ul>
    </div>
    <div
      class="weekly-trends-default js-weekly-trends-default visually-hidden"
      data-shown="false"
    >
      <p class="default-text">OOPS...</p>
      <p class="default-text">We are very sorry!</p>
      <p class="default-text">
        We don’t have any results matching "Weekly Trends"
      </p>
    </div>
  </div>
</section>
