<!-- Upcoming this month Section -->
<section class="upcoming-section">
  <div class="container">
    <div class="js-upcomming-cards">
      <h2 class="upcoming-title">upcoming this month</h2>
      <div class="upcoming-flex" data-upcoming></div>
    </div>
    <div
      class="upcomming-default js-upcomming-default visually-hidden"
      data-shown="false"
    >
      <p class="default-text">OOPS...</p>
      <p class="default-text">We are very sorry!</p>
      <p class="default-text">
        We don’t have any results matching "Upcoming This Mounth"
      </p>
    </div>
  </div>
</section>
