/* @import 'node_modules/modern-normalize/modern-normalize.css'; */
@import '../../node_modules/modern-normalize/modern-normalize.css';

/* Utils */
@import url('./utils/variables.css');
@import url('./utils/visually-hidden.css');
@import url('./utils/is-hidden.css');

/* Base */
@import url('./base/reset.css');
@import url('./base/common.css');

/* Components */
@import url('./components/container.css');
@import url('./components/section.css');
@import url('./components/current.css');
@import url('./components/button.css');
@import url('./components/movie-card.css');
@import url('./components/loader.css');

/* Layout */
@import url('./layout/header.css');
@import url('./layout/mobile-menu.css');
@import url('./layout/hero-common.css');
@import url('./layout/hero-main.css');
@import url('./layout/main-common.css');
@import url('./layout/hero-library.css');
@import url('./layout/hero-markup.css');
@import url('./layout/footer.css');
@import url('./layout/modal-trailer.css');
@import url('./layout/modal-movie-details.css');
@import url('./layout/modal-team.css');
@import url('./layout/trends.css');
@import url('./layout/upcoming-section.css');

/* Pages */
@import url('./pages/catalogue/list-catalogue.css');
@import url('./pages/library/list-library.css');
